.quotes{
    padding: 60px;
    
}
h1{
    font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-size: 80px;
font-weight: 900;
padding-bottom:20px;
}
p{
    
    font-size: 40px;
}
.btn1{
    padding-inline:110px;
    padding-block: 30px;
    background-color: crimson;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom:15px;
    color:white;
}
.btn1:hover{
    background-color:rgb(139, 38, 58) ;
}